= haml :"ui/_top"

%h2 About tracking the Muskoka Initiative

%p At the G8 Summit in June 2010, world leaders launched the Muskoka Initiative to address the significant gaps that exist in maternal, newborn and child health in developing countries.  Together, G8 and non-G8 countries have committed $7.3 billion through the Muskoka Initiative to mobilize global action to reduce maternal and infant mortality and improve the health of mothers and children in the world's poorest countries.

%p Canada has committed to provide $1.1 billion in new funding over the next five years. Canada is also providing $1.75 billion in ongoing spending on maternal and child health programming, a total contribution of $2.85 billion over the next five years.  Canada’s maternal, newborn and child health (MNCH) funding follows three integrated paths, focuses on ten countries and involves multilateral, global and Canadian partners.

%p The Muskoka Progress Tracker is a dynamic tool to track actual progress towards these commitments.  The Tracker visualizes how much Canada has committed to specific projects by country, and how much of those commitments have been delivered on.  

%h2 About the data

%p The data used in the Muskoka Progress Tracker is derived from an open source API from the Canadian International Development Platform (CIDP), a unique data and analytical platform on Canada’s engagement with the developing world. The CIDP is hosted by the North-South Institute, Canada’s only independent development policy think-tank.  http://cidpnsi.ca/

%p The CIDP API provides data on all the projects implemented by the Government of Canada and listed in the Foreign Affairs, Trade and Development Canada (DFATD) International Development Project Browser.  The Muskoka Progress Tracker selects the subset of those projects that are specifically part of the Muskoka Initiative.  

%h2 About building the tracker

%p The Musoka Progress Tracker was first created as a project during Random Hacks of Kindness (http://www.rhok.org/) Hackathon held in Ottawa, Canada, from December 6-8, 2013.  Random Hacks of Kindness is a rapidly growing global initiative for making the world a better place by developing practical, open source technology solutions to respond to some of the most complex challenges facing humanity.

%p The team that created the Muskoka Progress Tracker includes:
%ul
  %li Micah Melnyk
  %li Trang Pham
  %li Matthew Garden
  %li Jesse Burcsik
  %li ... 
