= haml :"ui/_top"
%p Tracking Canada’s commitments and spending on Maternal, Newborn and Child Health as part of the Muskoka Intiative.


%script{"data-main"=> "js/app", src:"js/lib/require.js", type: "text/javascript"}
