%head
  %meta{charset: "utf-8"}
  %title Random Hacks of Kindness: NSI Data
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %link{rel: "stylesheet", href: "css/main.css"}
  %link{rel: "stylesheet", href: "css/map.css"}
  %link{rel: "stylesheet", href: "css/bootstrap.css"}
  %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}