!!! 5
%html
  = haml :"ui/_head"
  %body
    %div.wrap.header
      %section.container
        %div.row    
          %h1 Muskoka Progress Tracker
          %a.btn.btn-primary{href: "/"} Home
          %a.btn.btn-primary{href: "/about"} About
 