/**

main.css - jesse burcsik

**/

#map_canvas{
  
    max-width: 100%;
    
}

.wrap.foot{
  
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
  
}

#chart_div{
  
  border: 3px solid #efefef;
  
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

}