.graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .5;
    stroke-width: .5px;
}

.land {
    fill: #ccc;
}

.boundary {
    fill: none;
    stroke: #222;
    stroke-width: .5px;
}

.subunit-label {
    font-family: Sans-Serif;
    display: none;
}

#map_canvas {
    width: 1000px;
    height: 500px;
}

.mnch, .mnch svg {
    position: absolute;
}

.mnch svg {
    width: 60px;
    height: 60px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.mnch circle {
    fill: red;
    stroke: black;
    stroke-width: 1.5px;
}

.legend li {
    display: inline;
    margin-right: 30px;
}